/* -------------------------Start Variables -----------------------------------*/
:root {
  --main-color: #19c8fa;
  --transparent-color: rgba(15, 116, 143, 0.7);
  --section-padding: 100px;
  --text-color: rgb(109, 109, 109);
}
/* --------------------------End Variables------------------------------------- */
/* -------------------------Start Global Rules---------------------------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(255, 255, 255);

}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.special-heading {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.special-content {
  text-align: center;
}
.special-content h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}
.special-content h2::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}
.special-content p {
  line-height: 2;
  color: var(--text-color);
  padding-bottom: 100px;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* ---------------------------------------End Global Rules --------------------------------------*/
/* ------------------------------------------Start home-------------------------------------- */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
}
.home {
  background-image: url(../images/back1.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  position: relative;
}
.home .item {
  position: absolute;
  z-index: 2;
  color: #ffffff;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-color: var(--transparent-color);
  width: 50%;
  padding: 40px;
  display: flex;
  justify-content: flex-end;
}
.home .item .content {
  width: 500px;
}
@media (max-width: 767px) {
  .home .item {
    width: 100%;
  }
  .home .item .content {
    max-width: 100%;
  }
}
.home .item .content h2 {
  font-size: 32px;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 20px;
}
.home .item .content p {
  line-height: 1.8;
  font-weight: 300;
}
.home .item .icon1 {
  position: absolute;
  z-index: 3;
  font-size: 25px;
  font-weight: bolder;
  top: 50%;
  transform: translate(-200px, -50%);
  color: #ffffff;
}
.home .item .icon2 {
  position: absolute;
  z-index: 3;
  font-size: 25px;
  font-weight: bolder;
  top: 50%;
  transform: translate(1250px, -50%);
  color: #ffffff;
}
.home .item .icon1:hover , .home .item .icon2:hover{
  font-size: 35px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .home .item i {
    display: none;
  }
}
.home ul {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 30px;
  color: #ffffff;
  display: flex;
}
.home ul li {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  margin-left: 10px;
}
.home ul li.mid {
  background-color: var(--main-color);
  background-color: var(--main-color);
}
.home ul li:hover{
  background-color: var(--main-color);
  cursor: pointer;
}

/* -----------------------------------------------------------End home------------------------------------- */
/* -----------------------------------------------------------start header--------------------------------- */
header {
  position: absolute;
  top: 0;
}
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
}
header .logo img {
  height: 60px;
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav i {
  display: none;
}
/* @media (min-width: 768px) {
    header nav i {
      display: none;
    }
  } */
header nav ul {
  display: flex;
}
@media (max-width: 767px) {
  header nav i {
    display: block;
    color: #ffffff;
    font-size: 20px;
    padding: 36px 0;
  }
  header nav ul {
    display: none;
  }

  header nav i:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
  }
  header nav i:hover + ul li a {
    padding: 15px;
  }
}
header nav ul li a {
  padding: 40px 10px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}
header nav ul li a.nav1,
header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid white;
}
header nav .form i {
  color: white;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
}
/* -------------------------------------------------End header-------------------------------------- */
/* -------------------------------------------------Start Services ----------------------------------------*/
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}
.services .srv {
  display: flex;
}
.services .srv i {
  margin-right: 50px;
}
@media (max-width: 767px) {
  .services .srv {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .services .srv i {
    margin: 0 0 30px;
  }
}
.services .srv h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}
.services .srv p {
  line-height: 2;
  color: #777;
}
/*--------------------------------------------------------------------- End Services-------------------------------------- */
/*------------------------------------------------------------------------ Start Design---------------------------------- */
.design {
  background-image: url(../images/back4.jpg);
  background-size: cover;
  height: 600px;
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 600px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design .content {
  position: absolute;
  z-index: 2;
  position: relative;
  color: #ffffff;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-color: var(--transparent-color);
  width: 50%;
  height: 90%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}
@media (max-width: 767px) {
  .design .content {
    width: 100%;
  }
}
.design::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.design .content h2 {
  text-transform: uppercase;
  margin-left: 10px;
  display: block;
  font-weight: 400;
}
.design .content ul {
  margin-top: 15px;
}
.design .content ul li {
  padding: 15px;
}
.design .content ul li i {
  padding-right: 20px;
}

.design .image {
  position: relative;
  z-index: 2;
  flex: 1;
}
.design .image {
  text-align: center;
}
.design .image img {
  position: relative;
  bottom: -150px;
}
/* ----------------------------------------------------------------------------End Design------------------------------------------*/
/* ----------------------------------------------------------------------------start portfolio--------------------------------------- */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .min-nav {
  display: flex;
  justify-content: center;
}
.portfolio .min-nav li {
  padding: 10px;
}
.portfolio .min-nav li.main {
  background-color: var(--main-color);
  color: white;
}
.portfolio .min-nav li:hover{
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
}
.portfolio .images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.portfolio .images .item {
  overflow: hidden;
  position: relative;
}
.portfolio .images .item:hover .fig-caption {
  bottom: 0;
}
.portfolio .images .item:hover img {
  transform: rotate(3deg) scale(1.1);
}

.portfolio .images .item img {
  max-width: 100%;
  transition: 0.3s;
}
.portfolio .images .item .fig-caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  bottom: -100%;
}
.portfolio .images .item .fig-caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.portfolio .images .item .fig-caption p {
  color: var(--main-color);
}
.portfolio .more {
  background-color: var(--main-color);
  color: white;
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin: 30px auto;
  text-decoration: none;
}
@media (min-width: 768px) {
  .portfolio .images .item {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio .images .item {
    flex-basis: 25%;
  }
}
/* ------------------------------------------------------------------------------End portfolio----------------------------------------- */
/* ------------------------------------------------------------------------------start video------------------------------------------ */
.video{
  position: relative;
  width: 100%;
  height:auto;
  padding: 0;
  margin: 0;
  object-fit: cover;
}
.video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.video video{
width:100% ;
height: 100%;
}
.video .item {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background-color: var(--transparent-color);
  width: 100%;
  height: 30%;
  text-align: center;
  color: #ffffff;
  padding-top: 50px;
}
.video .item h2{
   font-weight: normal;
   text-transform: uppercase;
}
.video .item p{
  margin: 35px;
}
.video .item button{
  background-color: black;
  color: #ffffff;
  width: 110px;
  height: 40px;
  border: none;
  cursor: pointer;
}
@media (max-width: 767px)  {
.video .item {
  width: 100%;
  height: 130%;

}
.video .item h2{
  margin: 0 20px;
  margin-top: 5%;
}
}
 @media (min-width: 767px) and (max-width: 1285px) {
  .video .item{
    height:50%;
  }
} 
/* ------------------------------------------------------------------------------End video------------------------------------------------ */
/* -----------------------------------------------------------------------------start about------------------------------------------------ */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
  overflow: hidden;
}
.about img{
  position: relative;
  bottom: -200px;
  margin-top: -200px;
  max-width: 100%;
  height: 300px;
}
/* -------------------------------------------------------------------------------End about------------------------------------------------ */
/* -------------------------------------------------------------------------------Start achievements--------------------------------------- */
.achieve {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../images/back3.jpg");
  background-size: cover;
  position: relative;
  text-align: center;
}
.achieve::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.achieve .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.achieve .container .item{
  background-color: var(--transparent-color);
  padding: 50px;
  color: #ffffff;
}
.achieve .container .item i{
   margin:0 70px;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: black;
}
.achieve .container .item span{
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin: 30px 0;
}
@media (max-width: 767px) {
  .achieve .container .item {
    flex-basis: 100%;
  }
  .achieve .container .item i{
    margin: auto;
  }
}
@media (min-width: 768px) {
  .achieve .container .item {
    flex-basis: 50%;
  }
  .achieve .container .item i{
    margin: auto;
  }
}
@media (min-width: 992px) {
  .achieve .container .item {
    flex-basis: 25%;
  }
  .achieve .container .item i{
    margin: auto;
  }
}
/* -------------------------------------------------------------------------------End Achievements---------------------------------------- */
/* -------------------------------------------------------------------------------Start-Our-team---------------------------------------------*/
.team {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.team .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .team .container .left-side , .team .container .right-side {
    flex-basis: 45%;
  }
}
.team .right-side progress {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(222, 218, 220);
}
.team .right-side progress::-webkit-progress-bar {
  background-color: rgb(222, 218, 220);
}
.team .right-side progress::-webkit-progress-value {
  background-color: var(--main-color); 
}

.team .right-side progress::-moz-progress-bar {
  background-color: var(--main-color); 
}
  .team .container .left-side h3 , .team .container .right-side h3{
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    margin-bottom:30px;
  }
  .team .container .left-side p , .team .container .right-side p{
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
  }
  .team .container .left-side div{
    
   line-height: 1.9;
  }
  .team .left-side .item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .team .left-side .item img {
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
  }
  .team .container .left-side div p{
    display: block;
    border-bottom: 0.5px solid #777;
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .team .container ul{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .team .container ul li{
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 10px;
  }
  .team .container ul li:hover{
    background-color: var(--main-color);
    cursor: pointer;
  }
  .team .container ul .mid{
    background-color: var(--main-color);
  }
  .team .container .right-side h4{
    display: block;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 40px;
  }
  .team .container .right-side progress{
     margin-top: 10px;
  }
   .prog-holder{
    position: relative;
   }
  .team  .right-side .prog-holder progress::before{
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -40px;
    right: -18px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
  }
  .team .right-side .prog-holder progress::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;
    top: -15px;
  }

  .team  .right-side .prog-holder .prog1::before , .team  .right-side .prog-holder .prog4::before{
    right: 7%;
  }
  .team  .right-side .prog-holder .prog1::after , .team  .right-side .prog-holder .prog4::after{
    right: 9%;
  }
  .team  .right-side .prog-holder .prog2::before {
    right: 12%;
  }
  .team  .right-side .prog-holder .prog2::after{
    right: 14%;
  }
  .team  .right-side .prog-holder .prog3::before{
    right: 17%;
  }
  .team  .right-side .prog-holder .prog3::after{
    right: 19%;
  }
  @media (max-width: 767px) {
    .team .left-side .item {
      flex-direction: column;
      text-align: center;
    }
    .team .left-side .item img{
      margin: auto;
    }
  }
/* -------------------------------------------------------------------------------End-Our-Team ------------------------------------------*/
/* ---------------------------------------------------------------------------- Start Text-------------------------------------------- */

.text-section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../images/back4.jpg");
  background-size: cover;
  position: relative;
  text-align: center;
  height: 300px;
}
.text-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.text-section .container{
  position: relative;
}
.text-section .container p{
  color: white;
  font-size: 30px;
}
.text-section .container span{
  color: white;
  margin-top: 10px;
}
/* -------------------------------------------------------------------------------End Text-------------------------------------------- */
/* -----------------------------------------------------------------------------------Satrt pricing--------------------------------- */
.price {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.price .main-items{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.price .main-items .col{
  text-align: center;
  border-top:1px solid var(--main-color) ;
  background-color: #fafafa;
  height: 550px;
}
.price .main-items .col h3{
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  padding: 30px 0px;
}
.price .main-items .col span{
  font-size: 60px;
  font-weight: bold;
  margin-top: 80px;
}
.price .main-items .col span::before{
  content: "$";
  font-size: 25px;
  position: relative;
  top: -40px;
  margin-right: 15px;
  font-weight: normal;
}
.price .main-items .col span::after{
  content: "/Mo";
  font-size: 20px;
  position: relative;
  right: -15px;
}
.price .main-items .col .div1{
  padding-bottom:40px ;
  border-bottom:1px solid var(--main-color) ;
}
.price .main-items .col ul li {
  padding: 20px;
  position: relative;
 
}
.price .main-items .col ul li:not(:last-child)::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%; 
  width: 140px;
  height: 1px; 
  background-color: var(--main-color);
  transform: translateX(-50%); 
}
.price .main-items .col ul li:last-child{
  border-bottom:1px solid var(--main-color) ;
  margin-bottom: 50px;
}
.price .main-items .col .div2 a{
  margin-top:30px;
  padding: 20px ;
  border:1px solid var(--main-color) ;
  color: var(--main-color);
}
.price .contact-txt {
  text-align: center;
  margin: 50px auto 20px;
  font-size: 20px;
}
.price .contact-link{
  display: block;
  margin: 20px auto;
  background-color: var(--main-color);
  color: #ffffff;
  padding: 15px 30px;
  width: fit-content;
}
/* -----------------------------------------------------------------------------------End pricing--------------------------------- */
/* ----------------------------------------------------------------------------------Start Subscribe-------------------------------- */
.sub {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../images/back7.jpg");
  background-size: cover;
  
  position: relative;
}
.sub::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.sub .container {
  position: relative;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.sub form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}
.sub form ::placeholder{
  color: rgb(255, 255, 255);
}
.sub form [type="email"]{

  border: 1px solid #ffffff;
  background-color: transparent;
  caret-color: var(--main-color);
  color: #ffffff;
  padding: 20px 20px 20px 60px;
  width:calc(100% - 130px);
  position: relative;
  border-right: none;
}
.sub form [type="submit"]{
  padding: 10px 20px;
  width: 130px;
  border: 1px solid #ffffff;
  border-left: none;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
}
.sub form [type="email"]:focus{
 outline: none;
}
.sub form i{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  left: 25px;
  font-size: 20px;
}
.sub p{
  line-height: 2;
  margin-left: 50px;
}
@media (max-width: 991px) {
  .sub .container {
    flex-direction: column;
  }
}
@media (max-width:991px) {
  .sub p{
    margin: 30px 0 0;
  }
}
/* -----------------------------------------------------------------------------------End Subscribe---------------------- */
/* -----------------------------------------------------------------------------------Start contact------------------------- */
.contact{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .main-item{
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact .main-item {
    flex-direction: column;
  }
}
.contact .main-item form{
  flex-basis: 70%;
}
.contact .main-item form .text{
  display: block;
  padding: 20px;
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid #ccc;
}
.contact .main-item form .mail{
  display: block;
  padding: 20px;
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid #ccc;
}
.contact .main-item form .message{
  display: block;
  padding: 20px;
  margin-bottom: 30px;
  height: 200px;
  width: 100%;
  border: 1px solid #ccc;
}
.contact .main-item form .text , .contact .main-item form .mail , .contact .main-item form .message{
  outline: none;
}
.contact .main-item form .send{
  display: block;
  padding: 20px;
  margin-bottom: 30px;
  cursor: pointer;
  border: none;
  background-color: var(--main-color);
  color: #ffffff;
  display: flex;
  margin-left: auto;
}
.contact .data{
  margin-left: -5px;
}
.contact .data h4 {
  font-weight: 400;
  font-size: 20px;
  text-transform:uppercase;
  margin-bottom: 30px;
}
.contact .data span{
  color: #6e6e6e;
  line-height: 2;
}
.contact .data .second-h2{
  margin-top: 60px;
}
.contact .main-item .data p{
  color: #6e6e6e;
  line-height: 2;
}
@media (max-width:767px) {
  .contact .main-item .data{
    order: -1;
    text-align: center;
  }
}
@media (max-width:767px) {
  .contact .main-item .data .second-h2{
     margin-top: 30px;
  }
}
@media (max-width:767px) {
  .contact .main-item .data p{
    margin-bottom: 40px;
  }
}
/* ------------------------------------------------------------------------------------End contact--------------------------- */
/* ------------------------------------------------------------------------------------ Start footer-----------------------------*/
.footer{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../images/back7.jpg");
  background-size: cover;
  height: 400px;
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.footer .container {
  position: relative;
  color: #ffffff;
  text-align: center;
  margin-top: -85px;
}
.footer .container img{
  height: 80px;
  margin-bottom: 20px;
}
.footer .container .main-p{
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  padding: 20px;
  border-bottom: 1px solid white;
  width: fit-content;
  margin: 20px auto;
}
.footer .container i{
   padding:15px;
}
.footer .container i:hover{
  color: var(--main-color);
  cursor: pointer;
}
.footer .container .last-p{
  margin-top: 60px;
}
.footer .container .last-p span{
  color: var(--main-color);
  font-weight: bold;
}
/* -------------------------------------------------------------------------------------End footer------------------------------- */
/* ------------------------------responsive solution-------------------------------- */
 @media  (max-width: 1287px) {
  body {
    overflow-x: hidden;
    margin-right: 0;
  }
}
/* @media (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
    margin-right: 0;
    width: 100vw;
  }
  * {
    max-width: 100vw;
    box-sizing: border-box;
  }
}  */

/* ------------------------The super Solution for responsive------- */
@media (min-width: 768px) and (max-width: 1024px) {
  html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1280px) and (max-height: 800px) {
  html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
}